<!-- Top Bar -->
<section id="top-bar" class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fas fa-tick">Have a project in mind?</i>
      </div>
      <div class="col-md-4">
        <i class="fas fa-envelope-open"> yeraldinnedev@gmail.com</i>
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <a target="_blank" href="https://github.com/Yeraldinnesan">
            <i class="fab fa-github"></i>
          </a>
          <a
            target="_black"
            href="https://www.linkedin.com/in/yeraldinne-sanabria/"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
